<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application-identifier</key>
	<string>com.apple.bridgeOSUpdateProxy</string>
	<key>bridgeOSUpdated-access-allowed</key>
	<true/>
	<key>com.apple.diagnosticd.diagnostic</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.private.necp.drop_all_bypass</key>
	<true/>
	<key>com.apple.private.network.intcoproc.restricted</key>
	<true/>
	<key>com.apple.private.stockholm.allow</key>
	<true/>
	<key>com.apple.private.stockholm.remoteservice</key>
	<true/>
</dict>
</plist>
