<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.ahp</key>
	<true/>
	<key>com.apple.airplay.allows-set-advertising-access-mode</key>
	<true/>
	<key>com.apple.developer.extension-host.systemprefsapp.sharing</key>
	<true/>
	<key>com.apple.private.AssetCacheServices.Manager</key>
	<true/>
	<key>com.apple.private.AssetCacheServices.Tetherator</key>
	<true/>
	<key>com.apple.private.AuthorizationServices</key>
	<array>
		<string>system.services.systemconfiguration.network</string>
	</array>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.admin.writeconfig</key>
	<true/>
	<key>com.apple.private.canmodifysharepoints</key>
	<true/>
	<key>com.apple.private.netfs.server.control</key>
	<true/>
	<key>com.apple.private.opendirectoryd.identity</key>
	<true/>
	<key>com.apple.private.opendirectoryd.sharepoints</key>
	<true/>
	<key>com.apple.private.screensharing.xpcaccepted</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceSystemPolicyAllFiles</string>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.private.tcc.manager.access.modify</key>
	<array>
		<string>kTCCServiceSystemPolicyAllFiles</string>
	</array>
	<key>com.apple.private.tcc.manager.access.read</key>
	<array>
		<string>kTCCServiceAll</string>
	</array>
	<key>com.apple.security.temporary-exception.shared-preference.read-write</key>
	<string>com.apple.applicationaccess</string>
</dict>
</plist>
