;;; WARNING: The sandbox rules in this file currently constitute
;;; Apple System Private Interface and are subject to change at any time and
;;; without notice.
;;;
(version 1)

(deny default)
(deny process-info* nvram*)
(deny dynamic-code-generation)

(deny mach-priv-host-port)

(import "system.sb")
(import "com.apple.corefoundation.sb")
(corefoundation)

(allow process-info* (target self))

; For looking up code signing status (CSOPS syscall).
(allow process-codesigning-status-get)

;; Powerbox
(with-filter (extension "com.apple.app-sandbox.read")
  (allow file-read*)
  (allow file-issue-extension (extension-class "com.apple.app-sandbox.read")))
(with-filter (extension "com.apple.app-sandbox.read-write")
  (allow file-read* file-write*)
  (allow file-issue-extension (extension-class "com.apple.app-sandbox.read" "com.apple.app-sandbox.read-write")))

(allow process-info-pidinfo)
(allow file-issue-extension)

;; Read/write access to a temporary directory.
(allow file-read* file-write*
       (subpath (param "DARWIN_USER_TEMP_DIR")))

;; Definitions for Safari paths
(define (home-subpath home-relative-subpath)
    (subpath (string-append (param "HOME_DIR") home-relative-subpath)))
(define (home-literal home-relative-literal)
    (literal (string-append (param "HOME_DIR") home-relative-literal)))
(define relative-path-to-safari-library-directory
    (string-append "/Library/" (param "SAFARI_LIBRARY_DIR_NAME")))
(define path-to-safari-library-directory
    (home-literal relative-path-to-safari-library-directory))

(allow mach-lookup
    (global-name "com.apple.pasteboard.1")
    (global-name "com.apple.containermanagerd")
    (global-name "com.apple.CoreAuthentication.agent")
    (global-name "com.apple.coreservices.appleevents")
    (global-name "com.apple.coreservices.launchservicesd")
    (global-name "com.apple.DiskArbitration.diskarbitrationd")
    (global-name "com.apple.dock.fullscreen")
    (global-name "com.apple.dock.server")
    (global-name "com.apple.FileCoordination")
    (global-name "com.apple.fonts")
    (global-name "com.apple.iconservices")
    (global-name "com.apple.iconservices.store")
    (global-name "com.apple.lsd.mapdb")
    (global-name "com.apple.remoted")
    (global-name "com.apple.Safari.PasswordBreachHelper")
    (global-name "com.apple.securityd.xpc")
    (global-name "com.apple.tccd")
    (global-name "com.apple.tccd.system")
    (global-name "com.apple.usymptomsd")
    (global-name "com.apple.windowserver.active")
    (global-name "com.apple.window_proxies")
    (global-name "com.apple.coreservices.quarantine-resolver")
    (global-name "com.apple.accountsd.accountmanager")
    (global-name "com.apple.sharingd")
    (global-name "com.apple.pluginkit.pkd")
    (global-name "com.apple.security.octagon")
    (global-name "com.apple.inputmethodkit.launchagent")
    (global-name "com.apple.inputmethodkit.launcher")
    (global-name "com.apple.inputmethodkit.getxpcendpoint")
    (global-name "com.apple.inputmethodkit.setxpcendpoint")
    (global-name "com.apple.tsm.uiserver")
    (global-name "com.apple.Safari.History.Service")
    (global-name "com.apple.suggestd.contacts")
)

(if (defined? 'lsopen)
    (allow lsopen))

(allow file-read*
    (home-subpath "/Library/Caches/com.apple.systempreferences")
    (home-subpath "/Library/Containers/com.apple.Safari/Container.plist")
    (home-subpath "/Library/Containers/com.apple.Safari/Data/Library/Safari")
    (home-subpath "/Library/Containers/com.apple.Safari/Data/Library/Preferences")
    (home-subpath "/Library/Saved Application State/com.apple.systempreferences.savedState")
    (home-subpath "/Library/Input Methods")
    (home-subpath "/Library/Keyboard Layouts")
    (literal "/Library/Preferences/com.apple.HIToolbox.plist")
    (subpath "/Applications/")
    (subpath "/Library/Fonts")
    (subpath (param "FRAMEWORKS_DIR"))
    (literal "/Library/Preferences/com.apple.ViewBridge.plist")
    (literal "/private/var/db/DetachedSignatures")
    (literal "/private/var/db/mds/messages/501/se_SecurityMessages")
)

; For resolving symlinks, realpath(3), and equivalents.
(allow file-read-metadata)

(allow file-write*
    (home-subpath "/Library/Containers/com.apple.Safari/Data/Library/Preferences")
    (home-subpath "/Library/Containers/com.apple.Safari/Data/Library/Safari")
)

; On a clean install, the Safari folder in ~/Library may not exist yet, so we need to be allowed to create it.
(allow file-write-create (require-all (vnode-type DIRECTORY) path-to-safari-library-directory))

; Icon fetching
(allow file* (home-subpath "/Library/Safari/Touch Icons Cache/"))
(allow file* (home-subpath "/Library/Safari/Favicon Cache/"))
(allow mach-issue-extension (require-all (extension-class "com.apple.webkit.extension.mach")))
(allow mach-lookup (global-name "com.apple.nsurlsessiond"))
(allow network-outbound
    (literal "/private/var/run/mDNSResponder")
    (remote tcp))

; Required for loading bundles into this process.
(deny file-map-executable)
(allow file-map-executable
   (subpath "/Library/Apple/System/Library/Frameworks")
   (subpath "/Library/Apple/System/Library/PrivateFrameworks")
   (subpath (param "PASSWORDS_PREFPANE_INSTALL_PATH"))
   (subpath "/System/Library/Frameworks")
   (subpath "/System/Library/PrivateFrameworks")
   (subpath "/System/Library/PreferencePanes")
)

; Allow loading bundles out of DerivedData if this parameter is set. It should only be set for engineering builds.
(when (param "BUILT_PRODUCTS_DIR")
    (allow file-read* (subpath (param "BUILT_PRODUCTS_DIR")))
    (allow file-map-executable (subpath (param "BUILT_PRODUCTS_DIR")))
    (allow job-creation)
)

(allow user-preference-read
    (preference-domain
        "kCFPreferencesAnyApplication"
        "com.apple.ViewBridge"
        "com.apple.universalaccess"
        "com.apple.systempreferences"
        "com.apple.HIToolbox"
        "com.apple.inputmethodkit"
        "com.apple.inputsources"
        "com.apple.suggestions"
    )
)

(system-graphics)

(allow iokit-open
    (iokit-user-client-class "AppleKeyStoreUserClient")
    (iokit-user-client-class "IOHIDParamUserClient")
)

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.application-identifier</key>
	<string>com.apple.Safari</string>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.LocalAuthentication.CallerName</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.lookup</key>
	<dict>
		<key>appData</key>
		<array>
			<string>com.apple.Safari</string>
		</array>
	</dict>
	<key>com.apple.private.Safari.History</key>
	<true/>
	<key>com.apple.private.Safari.PasswordBreachHelper</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.octagon</key>
	<true/>
	<key>com.apple.private.security.storage.Safari</key>
	<true/>
	<key>com.apple.private.suggestions.contacts</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
	<key>com.apple.security.personal-information.addressbook</key>
	<true/>
	<key>com.apple.sharing.DeviceDiscovery</key>
	<true/>
	<key>com.apple.sharing.Services</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>com.apple.cfnetwork</string>
		<string>com.apple.password-manager</string>
		<string>com.apple.sharing.safaripasswordsharing</string>
		<string>com.apple.safari.history</string>
		<string>com.apple.webkit.webauthn</string>
	</array>
</dict>
</plist>